.first-view-wrapper {
	position: relative;
}

.first-view {
	position: absolute;
	width: 100%;

	text-align: center;

	opacity: 0;
	pointer-events: none;
	transform: scale( 1.6 );
	transition: all 0.25s ease-in-out;

	&.active {
		opacity: 1;
		pointer-events: auto;
		transform: scale( 1 );
	}
}

.first-view-main-view {
	opacity: 1;
	pointer-events: auto;
	transform: scale( 1 );
	transition: all 0.25s ease-in-out;

	&.inactive {
		opacity: 0.2;
		pointer-events: none;
		transform: scale( 0.9 );
		filter: blur( 4px );
	}
}
