.first-view {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 9999;

	text-align: center;

	opacity: 0;
	pointer-events: none;
	transform: scale( 1.6 );
	transition: all 0.25s ease-in-out;

	&.active {
		opacity: 0.9;
		transform: scale( 1 );
	}
}

.first-view__content {
	height: 100%;
	pointer-events: auto;
}

.first-viewable {
	opacity: 1;
	pointer-events: auto;
	transform: scale( 1 );
	transition: all 0.25s ease-in-out;

	&.first-view-active {
		opacity: 0.2;
		pointer-events: none;
		transform: scale( 0.9 );
		filter: blur( 4px );
	}
}
